<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="google-site-verification" content="Zl8IpJioJKCYzaq2TXYHBJFLz_f1E0OyIbqPDgjhWrA" />
<TITLE>제자들교회 설교 팟캐스트입니다.</TITLE>
<style type="text/css">
p {
    margin: 0 0 20px 0;
    font-size: 12px;
}
p img {
    margin: 5 5 5 5px;
    border: 1px solid black;
}
.num {
    font-size: 20px;
    text-color: blue;
}
</style>
</HEAD>

<BODY>
    <p><span class="num">1.</span> 아이튠스를 설치하지 않았다면 <a href="http://www.apple.com/itunes/download/">여기를 눌러</a> 설치하세요.</p>
    <p><span class="num">2.</span> 아이튠스가 설치된 상태에서 다음 링크를 누르세요. <a href="http://itunes.apple.com/podcast/id363902693">http://itunes.apple.com/podcast/id363902693</a></p>
    <p><span class="num">3.</span> 혹시 아래와 같은 경고창이 나타나면, '허용'을 선택하세요.<br />
<img src="static/img/podcast_alert.png"></p>
    <p><span class="num">4.</span> 아래와 같이 아이튠스에 '제자들교회 설교 팟캐스트'가 나타나면 'Subscribe Free'를 누릅니다.<br />
<img src="static/img/podcast_itunes.png"></p>
    <p><span class="num">5.</span> 등록이 끝났습니다. ^^ 아이튠스 왼쪽 메뉴의 '보관함 > Podcast'를 눌러보면 팟캐스트가 등록된 것을 보실 수 있습니다.<br />
<img src="static/img/podcast_list.png"></p>
    <p><span class="num">6.</span> 아래 그림에서 동그랗게 표시한 삼각형 모양을 누르면 설교 목록이 나타납니다.<br />
<img src="static/img/registerd.png"></p>
    <p><span class="num">7.</span> 이제 다운받으려는 설교 제목 옆의 '얻기' 버튼을 누르면 파일을 받을 수 있습니다.<br />
<img src="static/img/podcast_list.png"></p>
</BODY>
</HTML>